<dom-module id="<%= elementName %>">

<template>
  <style include="dhi-shared-styles"></style>

  <style>
    :host {
      display: block;
    }
  </style>

  <slot></slot>
</template>

<script>
import '@dhi/dhi-common-ui-components/src/dhi-shared-styles/dhi-shared-styles.html';

/**
 * <%= elementName %> element
 * <%= elementDescription %>.
 *
 * @customElement
 * @polymer
 */

class <%= elementClassName %> extends Polymer.Element {
  static get is () { return '<%= elementName %>'; }

  static get properties () {
    return {};
  }

  connectedCallback () {
    super.connectedCallback();
  }
}

customElements.define(<%= elementClassName %>.is, <%= elementClassName %>);
</script>

</dom-module>
